<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>FilmInfinity</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous"></head></head>
<body>


    <div class="card">
        <h2 class="card-header">Gestión de películas</h2>
        <div class="card-body">
            <table class="table table-hover table-fixed">
                <thead class="thead-light">
                <tr>
                    <th scope="col">Id</th>
                    <th scope="col">Título</th>
                    <th scope="col">Año</th>
                    <th scope="col">Duración</th>
                    <th scope="col">País</th>
                    <th scope="col">Dirección</th>
                    <th scope="col">Género</th>
                    <th scope="col" class="w-80">Sinopsis</th>
                    <th scope="col">Portada</th>

                </tr>
                </thead>
                <tbody>
                <tr th:each="pelicula : ${peliculas}">
                    <td th:text="${pelicula.getId()}"></td>
                    <td th:text="${pelicula.getTitulo()}"></td>
                    <td th:text="${pelicula.getAnno()}"></td>
                    <td th:text="${pelicula.getDuracion()}"></td>
                    <td th:text="${pelicula.getPais()}"></td>
                    <td th:text="${pelicula.getDireccion()}"></td>
                    <td th:text="${pelicula.getGenero()}"></td>
                    <td th:text="${pelicula.getSinopsis()}" class="th-lg"></td>
                    <td> <img th:src="@{'/peliculas/uploads/' + ${pelicula.getPortada()}}"  style="max-height: 150px"></td>
                    <td>
                        <a th:href="@{'/peliculas/' + ${pelicula.getId()}}" th:text="'Ver'" class="btn btn-primary btn-sm" role="button" title="Ver la información de la película."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                        <a th:href="@{'/peliculas/modificar/' + ${pelicula.getId()}}" th:text="'Editar'" class="btn btn-success btn-sm" role="button" title="Editar la película."><i class="fas fa-pencil-alt" aria-hidden="true"></i></a>
                        <a th:href="@{/ccursos/borrar/{id}  (id=${pelicula.getId()})   }" th:text="'Borrar'" onclick="return confirm('¿Estas seguro?')" class="btn btn-danger btn-sm" role="button" title="Eliminar la película."><i class="fas fa-trash" aria-hidden="true"></i></a>
                    </td>
                </tr>

                </tbody>
            </table>

            <nav th:replace="paginator-nav :: paginator"></nav>
            <a class="btn btn-primary" role="button" th:href="@{/}">Ir a Inicio</a>
        </div>


    </div>


<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
        crossorigin="anonymous"></script>

</body>
</html>