<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="es">
<head>
    <meta charset="UTF-8">
    <title>Peliculas</title>
    <link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">
</head>
<body>

<div class="container">
    <h1 class="text-center">filmAffinity</h1>
    <hr>
    <div class="mb-3">
        <label for="formFile" class="form-label">Default file input example</label>
        <input class="form-control" type="file" id="formFile">
    </div>
    <div class="peliculas-section">
        <h2>Películas</h2>
    </div>
    <hr>
    <div class="actores-section">
        <h2>Actores</h2>
    </div>
    <hr>

</div>

<!-- Bootstrap core JavaScript
================================================== -->
<!-- Placed at the end of the document so the pages load faster -->
<link th:href="@{/css/bootstrap.min.css}" rel="stylesheet">

</body>
</html>